---
import Layout from '../../layouts/Layout.astro';
import { Card, Button, Link } from '@nextui-org/react'
import '../../styles/global.css'
import '../../styles/formGroups.css'
import ImageContainer from '../../components/groupsForms/ImageContainer'

---

<Layout title="New Rec">
  <main>
    <Card>
        <form id="crearRecFormulario">
            
            <ImageContainer rightImageSrc='/public/images/recaudacion.png'/>
                     
            <div class="form-group">

                <div class="form-group-item" style={{gap: "50px", display:"flex"}}>

                    <div>
                        <label for="nombreRec">Nombre de la recaudación:</label>
                        <input type="text" id="nombreRec" name="nombreRec" class="input-field">
                    </div>
                    
                    <div >
                        
                        <p>Visibilidad Publica </p>

                        <div class="checkbox-wrapper-7">
                            <input class="tgl tgl-ios" id="grupoPublico" type="checkbox"/>
                            <label class="tgl-btn" for="grupoPublico">
                        </div>
                        
                    </div>

                </div>

            </div>

            <div class="form-group">
                <div class="form-group-item">
                    <label for="objetivo">Dinero a alcanzar:</label>
                    <input type="number" id="objetivo" name="objetivo" class="input-field">
                </div>
            </div>

            <div style={{margin: "20px", display: "flex", gap: "5px"}} >
                <Button className="submitBtn font-semibold fs-5" type="submit">Crear</Button>
                <Button id="cerrarFormBtn" as={Link} className="cancelarBtn font-semibold fs-5" href='/home'>Cancelar</Button>
            </div>
        </form>
    </Card>

    <script>
        import { getGrupos, getHives, getCurrentUser } from "../../utils/utilities"

        var esPublico = false;
        const grupoPublico = document.getElementById('grupoPublico');
        grupoPublico.addEventListener('change', function() {
            if (grupoPublico.checked) {
                esPublico = true;
            } else {
                esPublico = false;
            }
        });
        
        document.getElementById('crearRecFormulario').addEventListener('submit', function(event) {
            event.preventDefault();
            var nombreRec = document.getElementById('nombreRec').value;
            if (nombreRec === "") {
                alert("Se debe ingresar un nombre.");
                window.location.href = '/home';
                document.getElementById('crearRecFormulario').reset();
                return;
            }
            var objetivo = document.getElementById('objetivo').value;
            if (objetivo === "" || isNaN(objetivo)) {
                alert("Se debe ingresar un monto válido.");
                window.location.href = '/home';
                document.getElementById('crearRecFormulario').reset();
                return;
            }
            var currentUserID = getCurrentUser();
            var grupos = getGrupos();

            var nuevaRec = {
                nombre: nombreRec, 
                tipo: "recaudación", 
                objetivo: objetivo, 
                donaciones: [],
                integrantes: [parseInt(currentUserID)],
                publico: esPublico
            };

            var maxID = 0;
            for (const id in grupos) {
                if (grupos.hasOwnProperty(id)){
                    if (Number(id) > Number(maxID)){
                        maxID = Number(id);
                    }
                }
            }

            grupos[maxID + 1] = nuevaRec;

            var hives = getHives();

            hives[currentUserID].push(maxID + 1);

            sessionStorage.setItem('grupos', JSON.stringify(grupos));

            sessionStorage.setItem("hives", JSON.stringify(hives));

            window.location.href = '/home';

            document.getElementById('crearRecFormulario').reset();
        });
    </script>
  </main>
</Layout>
