---
import Layout from '../../layouts/Layout.astro';
import { bees } from '../../../public/beesDeprecated.astro';
import '../../styles/yellowBtn.css'
import '../../styles/global.css'
import '../../styles/modal.css'
import CerrarSesion from '../../components/cerrarsesion';
import ProfileSections from "../../components/profileSections";
---

<Layout title="Welcome to Splithive">
    <main>
        <CerrarSesion client:only></CerrarSesion>
        <ProfileSections client:only></ProfileSections>
    </main>
</Layout>