.btn {
    background-color: #FFFFC6; ; 
    color: rgb(0, 0, 0); 
    font-size: 20px;
    padding: 15px 30px; 
    margin-top: 40px;
    border-radius: 6px;
    border-color: #f5b52b;
    border-width: 1px;
    transition: all .3s ease-in-out;
}

.btn:hover {
    background-color: #f5b52b; 
}