.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
}

.custom-select option[value=""] {
    /* Estilo para la opción "Selecciona un integrante" */
    color: #888; /* Cambia el color del texto a un gris tenue */
}

.submitBtn {
    background-color: #FFD93D; 
    border: 3px; border-color: 
    black; 
    border-radius: 5px; 
    padding: 3px 10px; 
    color: black;
}

input, .custom-select {
    background-color: #fde688; 
    border: 3px; 
    border-color: black; 
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    padding: 3px;
}

#crearGrupoFormulario {
    margin-top: 10px;
    color: black;
    flex-direction: column;
    display: flex;
    margin-bottom: 10px; /* Espacio inferior entre los grupos de formulario */
}

#agregarIntegranteBtn {
    background-color: #F6F1E9;  
    color: black; 
}