.main_body{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 35%;
    gap: 10px;
}

.username_bar{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.username_info, .password_info{
    color: black;
    font-size: large;
    padding-top: 7px;
    padding-left: 5px;
}

.password_bar{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.bar{
    max-width: max-content;
}