---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'
---

<Layout title="Inicio">
  <main>
    <a href="/home" class="logo-link">
      <img src='/public/images/splithive.png' alt="Logo" class="logo">
    </a>
  </main>
</Layout>

<style>

  .logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .logo {
    max-width: 100%;
    max-height: 100%;
  }
</style>