---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Inicio">
  <main>
    
    <div class="home">
      <img src='/images/splithive.png' alt="Logo" class="logo">
      <div class="conexion">
        <a href="/login" class="login">Login</a>
        <a href="/registro" class="registro">Registro</a>
      </div>
    </div>
    
    <script>
      import { getContactos, getUsuarios, getGrupos, getGastos, getHives, getCurrentUser, getUserByUsername } from "../utils/utilities"
      import cargarDatos from "../utils/initLogica"
      cargarDatos();
    </script>
    
  </main>
</Layout>

<style>
    :global(body) {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/public/images/fondo.jpg'); 
    background-size: cover; 
    height: 100vh; 
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .logo-link {
    justify-content:center;
    align-items: center;
    cursor: pointer;
    max-width: 500px;
    max-height: 200px;
  }
  .home {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }

  .logo {
    margin-left: 50px;
    max-width: 50%;
    max-height: 10%;
  }

  .conexion{
    display: flex;
    gap: 150px;
    padding-bottom: 200px;
  }

  .registro,.login{
    font-size: larger;
    background-color: yellow;
    color: black;
    border-width: 10px;
    border-radius: 10px;
    border-color: yellow;
  }
</style>