---
import Login from "../components/login"
import Layout from "../layouts/Layout.astro"
import global from "../styles/global.css"
---
<Layout>
    <main>
        <Login client:only></Login>
    </main>
</Layout>


<style is:global>

body {
    background-image: url('/images/fondo.jpg'); 
    background-size: cover;  
    height: 100%;
    min-height: 100vh;
}