---
import Registro from "../components/registro"
import Layout from "../layouts/Layout.astro"
import  "../styles/global.css"
---
<Layout>
    <main>
        <Registro client:only></Registro>
    </main>
</Layout>